In [79]:
# import pandas as pd

df = pd.read_csv('offer_soil_moisture.csv')
df_or = df.copy()
df = pd.DataFrame(df)
df['Y(t+1)']= df['soil_moisture'].shift(-1)
df['Y(t+2)']= df['soil_moisture'].shift(-2)
df['Y(t+3)']= df['soil_moisture'].shift(-3)
df['Y(t+4)']= df['soil_moisture'].shift(-4)
df['Y(t+5)']= df['soil_moisture'].shift(-5)
df['Y(t+6)']= df['soil_moisture'].shift(-6)
df['Y(t+7)']= df['soil_moisture'].shift(-7)
df['Y(t+8)']= df['soil_moisture'].shift(-8)
df['Y(t+9)']= df['soil_moisture'].shift(-9)
df['Y(t+10)']= df['soil_moisture'].shift(-10)
df['Y(t+11)']= df['soil_moisture'].shift(-11)
df['Y(t+12)']= df['soil_moisture'].shift(-12)

df['R(t-5)'] = df['hour_rain'].shift(5)
df['R(t-4)'] = df['hour_rain'].shift(4)
df['R(t-3)'] = df['hour_rain'].shift(3)
df['R(t-2)'] = df['hour_rain'].shift(2)
df['R(t-1)'] = df['hour_rain'].shift(1)

X = df.loc[:,'soil_moisture':]
X.dropna(inplace=True)
X

,soil_moisture,Y(t+1),Y(t+2),Y(t+3),Y(t+4),Y(t+5),Y(t+6),Y(t+7),Y(t+8),Y(t+9),Y(t+10),Y(t+11),Y(t+12),R(t-5),R(t-4),R(t-3),R(t-2),R(t-1)
5,37.68,37.71,37.55,37.53,37.52,37.51,37.48,37.39,37.41,37.42,37.36,37.39,37.37,0.0,0.0,0.0,0.0,0.0
6,37.71,37.55,37.53,37.52,37.51,37.48,37.39,37.41,37.42,37.36,37.39,37.37,37.38,0.0,0.0,0.0,0.0,0.0
7,37.55,37.53,37.52,37.51,37.48,37.39,37.41,37.42,37.36,37.39,37.37,37.38,37.33,0.0,0.0,0.0,0.0,0.0
8,37.53,37.52,37.51,37.48,37.39,37.41,37.42,37.36,37.39,37.37,37.38,37.33,37.32,0.0,0.0,0.0,0.0,0.0
9,37.52,37.51,37.48,37.39,37.41,37.42,37.36,37.39,37.37,37.38,37.33,37.32,37.36,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5815,39.52,39.50,39.42,39.18,39.09,39.10,39.05,39.25,39.27,39.22,39.17,39.21,39.23,0.0,0.0,0.0,0.0,0.0
5816,39.50,39.42,39.18,39.09,39.10,39.05,39.25,39.27,39.22,39.17,39.21,39.23,39.21,0.0,0.0,0.0,0.0,0.0
5817,39.42,39.18,39.09,39.10,39.05,39.25,39.27,39.22,39.17,39.21,39.23,39.21,39.23,0.0,0.0,0.0,0.0,0.0
5818,39.18,39.09,39.10,39.05,39.25,39.27,39.22,39.17,39.21,39.23,39.21,39.23,39.20,0.0,0.0,0.0,0.0,0.0
5819,39.09,39.10,39.05,39.25,39.27,39.22,39.17,39.21,39.23,39.21,39.23,39.20,39.16,0.0,0.0,0.0,0.0,0.0

In [80]:
y = X.iloc[:,1:13]
y.dropna(inplace=True)

C:\Users\user\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [81]:
y

,Y(t+1),Y(t+2),Y(t+3),Y(t+4),Y(t+5),Y(t+6),Y(t+7),Y(t+8),Y(t+9),Y(t+10),Y(t+11),Y(t+12)
5,37.71,37.55,37.53,37.52,37.51,37.48,37.39,37.41,37.42,37.36,37.39,37.37
6,37.55,37.53,37.52,37.51,37.48,37.39,37.41,37.42,37.36,37.39,37.37,37.38
7,37.53,37.52,37.51,37.48,37.39,37.41,37.42,37.36,37.39,37.37,37.38,37.33
8,37.52,37.51,37.48,37.39,37.41,37.42,37.36,37.39,37.37,37.38,37.33,37.32
9,37.51,37.48,37.39,37.41,37.42,37.36,37.39,37.37,37.38,37.33,37.32,37.36
...,...,...,...,...,...,...,...,...,...,...,...,...
5815,39.50,39.42,39.18,39.09,39.10,39.05,39.25,39.27,39.22,39.17,39.21,39.23
5816,39.42,39.18,39.09,39.10,39.05,39.25,39.27,39.22,39.17,39.21,39.23,39.21
5817,39.18,39.09,39.10,39.05,39.25,39.27,39.22,39.17,39.21,39.23,39.21,39.23
5818,39.09,39.10,39.05,39.25,39.27,39.22,39.17,39.21,39.23,39.21,39.23,39.20
5819,39.10,39.05,39.25,39.27,39.22,39.17,39.21,39.23,39.21,39.23,39.20,39.16

In [83]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)